<a href="https://colab.research.google.com/github/Erik-Silver/daa_2021_1/blob/master/23Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo7( n ):
  count = 0
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
  return count
# 1 +25 n2
ejemplo7(3)

225

In [ ]:
def ejemplo7_2( n ):
  count = 1
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
      for k in range( n ):
        count += 1
    return count # 1 + 25n^2 +25n^2
ejemplo7_2( 3 )

151

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
  total = 0
  for index in range(len(numeros)):
    total = numeros[index]
  return total
ejemplo8([1,2,3,4,5])

5

In [ ]:
def ejemplo9(  n ):
  contador = 0
  basura = 0
  for i in range( n ) :
    contador += 1
  for j in range( n ) :
    contador += 1
  basura = basura + contador
  return contador


print(ejemplo9( 5 ))

10

In [ ]:
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i+1 ) :
      count += 1
  return count

print(ejemplo10(5))

15